<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' type='text/css' href='stylesheets/base.css'>
    <script type='application/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js'></script>
    <script type='application/javascript' src='js/main.js'></script>
  </head>
  <body>
    <p>hello, world</p>
  </body>
</html>
