<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' type='text/css' href='stylesheets/base.css'>
  </head>
  <body>
    <script type="application/javascript" src="scripts/require/require.js"></script>
    <script type="application/javascript" src="scripts/require/require.config.js"></script>
    <script type="application/javascript" src="scripts/main.js"></script>
  </body>
</html>
